{% macro draw_grid(height, width, grid, hsep) %}
{% for row in range(height) %}
{{ hsep }}
| {% for col in range(width) %} {{ grid[row][col] }} |{% endfor %}
{{ hsep }}
{% endfor %}
{% endmacro %}
{{ draw_grid(height, width, grid, hsep) }}
